body
	font-family: sans-serif

.container
	width: 800px
	margin: 0 auto
	
h1
	color: #008040

nav 
	margin-bottom: 15px
	a
		display: inline-block
		padding: 10px
		text-decoration: none
		background-color: #008040
		color: black
		border-radius: 4px
	
footer
	font-size: 10pt
	width: 800px
	margin: 0 auto
	background-color: #ccc
	color: black
	padding: 10px